@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-black dark:text-white;
  }
}

.cm-editor .cm-content {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

.cm-focused {
  outline: 0 !important;
}

.ͼ1f {
  background: none;
}

.ͼ1m {
  color: white;
}

#browse-notes::-webkit-scrollbar {
  display: none;
}

@layer components {
  [cmdk-item][aria-selected="true"] {
    @apply bg-stone-700 dark:bg-stone-800;
  }

  [cmdk-item][aria-selected="true"] span {
    @apply opacity-100;
  }

  [cmdk-item][aria-selected="true"] .note-arrow {
    @apply opacity-100;
  }

  .prose pre {
    @apply bg-stone-100 text-black;
  }
}
