@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

.cm-editor .cm-content {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

.cm-focused {
  outline: 0 !important;
}

#browse-notes::-webkit-scrollbar {
  display: none;
}

@layer components {
  [cmdk-item][aria-selected="true"] {
    @apply bg-stone-700;
  }

  [cmdk-item][aria-selected="true"] span {
    @apply opacity-100;
  }

  [cmdk-item][aria-selected="true"] .note-arrow {
    @apply opacity-100;
  }
}
